{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="/pedidos/save" method="post">
        <div>
            <label for="nome">Usuario: </label>
            <select name="usuario_id" id="nome">
            { % for u in usuarios%}
            <option value="{{u.id}}">{{u.nome}}</option>
            {{% endfor %}}
        </select>
        </div>
        <button type="submit">Salvar</button>
    </form>

{% endblock %}